<div class="video " id="video-bg">
    <video autoplay muted loop id="myVideo">
        <source src="../video/file.mp4" type="video/mp4">
    </video>
    <div class="container py-5 ">
        <div class="row py-5">
            <div class="col-lg-6">
                <h2 data-wow-duration="2s" data-wow-delay="1s" data-wow-offset = "200"  class=" animated fadeInLeft  delay-1s wow">Частые вопросы</h2>
                <ul data-wow-duration="2s" data-wow-delay="1s" data-wow-offset = "200"  class="p-0 m-0  animated fadeInLeft  delay-1s wow">
                    <li>Можно ли наклеить рекламу самому? Конечно, с помощью нашей пошаговой инструкции сможет наклеить
                        даже ребенок, а на бесплатном тестовом образце вы отточите свое мастерство)</li>
                    <li>Я боюсь, что в заднее стекло ничего не будет видно. Благодаря полотерной резке с обзором ничего
                        не случится и вы даже не почувствуете дискомфорта.</li>
                    <li>Пленка не повредит лакокрасочное покрытие? Нет! Даже не оставит никаких следов и сохранит
                        изначальное состояние лакокрасочного покрытия в отличие от мест где пленки не было.</li>
                </ul>
            </div>
            <div class="col-lg-6 white relative mt-5 mt-lg-0">
                <div class="frame_white animated fadeInLeft  delay-1s wow" data-wow-duration="2s" data-wow-delay="1s" data-wow-offset = "200"></div>
                <form action="">
                    <div class="box__header p-3 p-sm-5">
                        <h2>ВАС ЖДЕТ ПОТОК <br> НОВЫХ КЛИЕНТОВ</h2>
                        <p>Просто оставьте заявку и мы все сделаем за Вас!</p>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="p-2 w-100" placeholder="Имя" required>
                            </div>
                            <div class="col-6">
                                <input type="text" class="p-2 w-100" placeholder="Телефон" required>
                            </div>
                            <div class="col-6 mt-4">
                                <p class="text-center p-big">В какое время Вам перезвонить?</p>
                            </div>
                            <div class="col-6 mt-4">
                                <input type="time" class="p-2 w-100" id="appt" name="appt" min="09:00" max="18:00">
                            </div>
                        </div>
                        <button class="btn mt-4 w-100">Отправить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="w-100 py-4">
        <div id="scroller" style="display: block;" class=" text-center text-lg-left">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="13.538 9.013 179.163 84.596" xmlns="http://www.w3.org/2000/svg" viewBox="13.538 9.013 179.163 84.596" role="img">
            <g>
                <path d="M189.808 62.082c-.469 0-.944-.113-1.385-.356L103.12 15.2 17.817 61.726a2.883 2.883 0 0 1-3.925-1.153 2.887 2.887 0 0 1 1.156-3.922l86.688-47.286a2.9 2.9 0 0 1 2.769 0l86.688 47.286a2.886 2.886 0 0 1 1.153 3.922 2.874 2.874 0 0 1-2.538 1.509z"></path>
                <path d="M189.808 93.608c-.469 0-.944-.113-1.385-.356L103.12 46.723 17.817 93.252a2.883 2.883 0 0 1-3.925-1.153 2.887 2.887 0 0 1 1.156-3.922l86.688-47.289a2.9 2.9 0 0 1 2.769 0l86.688 47.289a2.886 2.886 0 0 1 1.153 3.922 2.874 2.874 0 0 1-2.538 1.509z"></path>
            </g>
        </svg></div>
        </div>
    </div>
</div>