<div class="why py-5">
    <div class="container">
        <h2 class="my-5 text-center w-100 pb-5">ПОЧЕМУ МЫ?</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex justify-content-center relative">
                    <div class="line"></div>
                    <div class="why__box d-flex justify-content-center align-items-center relative">
                        <div class="absolute"></div>
                        <img class="animated fadeIn delay-1s wow" src="../img/001.png" alt="001" data-wow-duration="1s" data-wow-delay="0.8s">
                    </div>
                </div>
                <h3 class="my-5 text-center w-100">Ваша реклама должна работать</h3>
                <p class="text-center">Нам важно, что бы реклама у вас работала отлично, тогда вы закажете ее у нас и на
                    второй свой автомобиль, и порекомендуете друзьям где ее приобрести) Поэтому мы продумываем ее с
                    маркетинговой точки зрения, а не просто делаем набор вырезанного текста.</p>
            </div>
            <div class="col-lg-4">
                <div class=" d-flex justify-content-center ">
                    <div class="line"></div>
                    <div class="why__box d-flex justify-content-center align-items-center relative">
                        <div class="absolute"></div>
                        <img class="animated fadeIn delay-1s wow" src="../img/002.png" alt="002" data-wow-duration="1s" data-wow-delay="0.8s">
                    </div>
                </div>
                <h3 class="my-5 text-center w-100">Гарантия</h3>
                <p class="text-center">
                    Сама пленка высокого немецкого качества которая служит от 3х и больше лет, собственно ее используют
                    все и ничего в этом необычного нет. Но это все же пленка и ее можно оторвать, к примеру на мойке
                    невнимательный мойщик керхером смоет часть наклейки, хулиганы на парковке цифру вам из номера
                    телефона отклеят и т.д. В таких случаях вы можете быть спокойны, потому что в тот же день мы вышлем
                    вам недостающий элемент с специальной разметкой, что бы вы ровно его приклеили назад за 2 минуты и
                    вам не придется заново все заказывать. И это все бесплатно.
                </p>
            </div>
            <div class="col-lg-4">
                <div class=" d-flex justify-content-center ">
                    <div class="why__box d-flex justify-content-center align-items-center relative">
                        <div class="absolute"></div>
                        <img class="animated fadeIn delay-1s wow" src="../img/003.png" alt="003" data-wow-duration="1s" data-wow-delay="0.8s">
                    </div>
                </div>
                <h3 class="my-5 text-center w-100">Скорость выполнения</h3>
                <p class="text-center">
                    Каждый день без рекламы Вы теряете клиентов! Поэтому заказы готовы утром следующего дня, за исключением случаев когда нужно использовать редкие цвета которых в нужных количествах может не быть на складе, тогда сроки увеличиваются до 2-3 дней.
                </p>
            </div>
        </div>
    </div>
</div>