<div class="work py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="green_work">
                    Простота
                </div>
                <h2 class="my-4">С нами работать легко!</h2>
                <p>
                    Реклама на автомобиль - это просто, Вам больше не нужно ездить по рекламным агентствам , ждать
                    неделю очереди, потом ехать обратно, смотреть эскизы, а затем еще через неделю забирать готовый
                    материал. Все что нужно это позвонить по номеру в объявлении и рассказать о вашем роде деятельности
                    и какая марка вашего автомобиля. Наши дизайнеры с маркетологами в этот же день разработают вам
                    дизайн, отредактируют его по вашим пожеланиям и после одобрения сразу же его произведем.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="green_mt">
                    <h5> Цены на стандартную рекламу</h5>
                    <div class="row mt-4">
                        <div class="col-6">
                            <p>Размер</p>
                        </div>
                        <div class="col-6">
                            <p>70см Х 40см</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <p>Белый цвет   </p>
                        </div>
                        <div class="col-6">
                            <p>350 грн</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <p>2 и более цвета </p>
                        </div>
                        <div class="col-6">
                            <p>420 грн</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <p>Услуги дизайнера</p>
                        </div>
                        <div class="col-6">
                            <p>Бесплатно</p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <p>Срок изготовления</p>
                        </div>
                        <div class="col-6">
                            <p>До 1 дня </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>